body {
    color: #202c39;
}

a {
    color: #ff004f
}

a:visited {
    color: #ff4e85
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #202c39;
    font-family: "Oswald";
    font-size: 1.35em;
}



h1,
h2 {
    color: #7894b3;
    font-family: "Fira Sans Extra Condensed";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Montserrat";
}

#main {
    position: relative;
}