body {
    color: black;
}

a {
    color: #f09f00
}

a:visited {
    color: #da6900
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



h1,
h2 {
    color: #00a8db;
    font-family: "Fira Sans Extra Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#main {
    position: relative;
}